.example-spacer {
    flex: 1 1 auto;
  }

mat-toolbar {
  background-color: rgba(61, 60, 60, 0.548);
} 
span{
    padding: 10px;
}

  img{
    height: 50px;
    width: 50px;  
  }

  a{
    text-decoration: none;
    color: black;
  }